img {
    width: 50%;
}

#buttonSignIn {
    text-decoration: none;
}

#form-name-app {
    font-style: normal;
    font-family: 'Cinzel', serif;
    text-align: center;
    width: 100%;
    font-size:32px;
    margin-top: 30px;
}

.login{
    background-color: #c8dad3;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.login-bottom{
    display: flex;
    margin: 6% 27% 5% 35%;
    align-items: center;
}

.login-center{
    display: flex;
    margin: 6% 15% 5% 22%;
}


@media only screen and (max-width: 768px) {
    .login-center img {
        display:none;
    }

    #test {
        background-color: aqua;
    }
}


